#heading{
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  color: blue;
  box-shadow: 0 8px 6px -6px black;
}

#resultBox{
  margin: 0 auto;
  padding: 50px;
}


#choiceBox{
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

#choiceBox img{
  height : 150px;
  width : 150px;
}

#choiceBox img:hover{
  box-shadow: 5px 5px 20px;
}

.humanImage{
  width: 200px;
  height: 200px;
  margin: 30px;

 /* #1 */
 border: 5px solid hsl(0, 0%, 40%);

 /* #2 */
 padding: 5px;
 background: hsl(0, 0%, 20%);

 /* #3 */
 outline: 5px solid hsl(0, 0%, 60%);

 /* #4 AND INFINITY!!! (CSS3 only) */
 box-shadow:
     0 0 0 10px hsl(0, 0%, 80%),
     0 0 0 15px hsl(0, 0%, 90%);
}

.botImage{
  width: 200px;
  height:  200px;
  margin: 30px;
  margin-left: 785px;

 /* #1 */
 border: 5px solid hsl(0, 0%, 40%);

 /* #2 */
 padding: 5px;
 background: hsl(0, 0%, 20%);

 /* #3 */
 outline: 5px solid hsl(0, 0%, 60%);

 /* #4 AND INFINITY!!! (CSS3 only) */
 box-shadow:
     0 0 0 10px hsl(0, 0%, 80%),
     0 0 0 15px hsl(0, 0%, 90%);
}

#resetButton{
  display: none;
}

#reset{
  padding: 30px;
}
